[Unit]
Description=OpenEmotion daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/moonlight/Project/Github/MyProject/Emotion/OpenEmotion
ExecStart=/home/moonlight/Project/Github/MyProject/Emotion/OpenEmotion/.venv/bin/python -m emotiond.main
Restart=always
RestartSec=10

[Install]
WantedBy=default.target